<script src="~/js/site.js" asp-append-version="true"></script>
<div id="content">
  <h2>Welcome to Jeremy Land, oh visitor from Power School!</h2>
  <h4>You are <strong>@ViewData["username"]</strong> of type <strong>@ViewData["usertype"]</strong></h4>
  <button id="requestToken">Request Access Token</button>
  <button id="getSchoolList">Get School List</button>
  <button id="getPsUser">Get PS User</button>
</div>